@font-face {
  font-family: AnandaBlack;
  src: url(/public/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}

body {
  background-color: rgba(71, 61, 139, 0.250);
}

.header {
  color: darkgreen;
  font-size: 3em;
  font-family: AnandaBlack;
  margin: 20px;
}